@font-face {
font-family: 'icomoon';
    src:url('icomoon.woff') format('woff'), 
        url('icomoon.ttf') format('ttf'),
        url('icomoon.eot?') format('eot'),
        url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: auto;

}

.freshad{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    position: absolute;
}

.freshad *, 
.freshad *:before, 
.freshad *:after {
    font-family: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.freshad.landscape{
    width:100%;
    height:100%;
}

.freshad .landscape-escape{
    display:none;
    background-color: #ffffff;
}


.freshad.landscape .landscape-escape{
    position: relative;
    display:block;
    background-image: url("landscape.png");
    background-position: center;
    background-size: auto 80%;
    background-repeat: no-repeat;   
}

.freshad.landscape .landscape-escape>div{
    display: block;
    height: 3%;
    width:100%;
    background-color: #f0f0f0;
}

.freshad.landscape .content{
    display:none;
}


.freshad video{
    background-color:#000000;
}

.freshad .tooltip 
{
    position: absolute;
    padding: 1px;
    text-align: left;
    white-space: normal;
    z-index: 2010;
    max-width:276px;
    background-color: #ffffBB;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0);
    box-shadow: 0 5px 10px rgba(0,0,0,0);
    background-clip: padding-box;
}

.freshad .tooltip .arrow{
    border-width: 9px;
}

.freshad .tooltip.top .arrow {
    bottom: -9px;
    left: 50%;
    margin-left: -9px;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,0.25);
    border-bottom-width: 0;
}

.freshad .tooltip .arrow, .freshad .tooltip .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.freshad .tooltip .arrow:after {
    border-width: 9px;
    content: "";
}

.freshad .tooltip.top .arrow:after {
    bottom: 1px;
    margin-left: -9px;
    border-top-color: #ffffBB;
    border-bottom-width: 0;
    content: " ";
}

.freshad .tooltip .message{
    padding:6px;
}


.freshad .btn {
    display: inline-block;
    padding: 5px 12px 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin:0px;
}

.freshad .btn-primary{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}





.freshad button, 
.freshad input, 
.freshad select, 
.freshad textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;

}

.freshad select.form-control{
    height:25px;
    margin-top:2px;
}

.freshad h1,
.freshad h2,
.freshad h3,
.freshad h4,
.freshad h5,
.freshad h6
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.freshad h1, 
.freshad h2, 
.freshad h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.freshad h4, 
.freshad h5, 
.freshad h6{
    margin-top: 10px;
    margin-bottom: 10px;
}

.frehad h1,
{
    margin: .67em 0;
    font-size: 36px;
}

.freshad h2,
{
    font-size: 30px;
}

.freshad h3{
    font-size: 24px;
}

.freshad h4{
    font-size: 18px;
}
.freshad h5{
    font-size: 14px;
}
.freshad h6{

    font-size: 12px;
}

.freshad ul{
    margin:0px;
    padding:0;
}
.freshad .list-group {
    padding-left: 0;
    margin-bottom: 0px;
}



.freshad form{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.freshad form p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.2 !important;
    letter-spacing: 0.8pt !important;
    font-weight: 200 !important;

}



.freshad .radio input[type="radio"], 
.freshad .radio-inline input[type="radio"], 
.freshad .checkbox input[type="checkbox"], 
.freshad .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-right:10px;
    margin-top:2px;
}

.freshad .checkbox{
    min-height: 27px;
}

.freshad input[type="checkbox"], 
.freshad input[type="radio"] {
    padding: 0;
    box-sizing: border-box;
}


.freshad .form-control{
    width:100%;
    padding:5px 5px 5px 5px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0px;
    border: 0px solid #CCC;
    height:auto;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box; 

}




.freshad .form-group{
    clear:both;
    margin-bottom: 8px;
    clear: both;
}

.freshad .form-group>div{
    width:auto;
    overflow:auto;
}

.freshad .form-horizontal .control-label, 
.freshad .form-horizontal .radio, 
.freshad .form-horizontal .checkbox, 
.freshad .form-horizontal .radio-inline, 
.freshad .form-horizontal .checkbox-inline {
    padding-top: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}





.freshad .form-horizontal .form-group {
    margin-left:0px;
    margin-right:0px;
}


.freshad .form-horizontal .control-label{
    display:block;
    width:100px;
    text-align: right;
    float:left;
    padding-right: 10px;

}

.freshad .form-control-required .control-label{
    font-weight:bold;
}


.freshad .form-vertical .form-group .control-label{
    width:100%;
    float: none;
    text-align: left;
    padding-right: 0px;
    padding-bottom: 8px;
}



.freshad .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-btn>.btn {
    position: relative;
}

.input-group-btn:last-child>.btn {
    margin-left: -1px;
}


.freshad .form-control:focus{
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.freshad .has-error .form-control{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}




.freshad .input-group>
.freshad .input-group-addon:first-child{
    border:0;
}
.freshad .input-group-addon:last-child{
    border:0;
}

.freshad .input-group-addon, 
.freshad .input-group-btn, 
.freshad .input-group .form-control {
    display: table-cell;
}


.input-group .form-control:first-child, 
.input-group-addon:first-child, 
.input-group-btn:first-child>.btn,
.input-group-btn:last-child>.btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.input-group .form-control:last-child, 
.input-group-addon:last-child, 
.input-group-btn:last-child>.btn, 
.input-group-btn:first-child>.btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}



.freshad .input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}



.freshad H1,
.freshad H2,
.freshad H3,
.freshad H4{ margin:0px;}

.freshad p{ margin:0px 0px 10px;}

.freshad a{
    color:#428bca;
}

.freshad a,.freshad a:hover{
    text-decoration: none;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.freshad .icon-volume-mute, 
.freshad .icon-volume-mute-2, 
.freshad .icon-volume-high, 
.freshad .icon-close, 
.freshad .icon-facebook, 
.freshad .icon-facebook-2, 
.freshad .icon-twitter, 
.freshad .icon-twitter-2, 
.freshad .icon-stop, 
.freshad .icon-pause, 
.freshad .icon-play, 
.freshad .icon-expand, 
.freshad .icon-contract, 
.freshad .icon-expand-2, 
.freshad .icon-contract-2, 
.freshad .icon-play-2, 
.freshad .icon-youtube, 
.freshad .icon-youtube-2 {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.freshad .icon-volume-mute:before {
    content: "\31";
}
.freshad .icon-volume-mute-2:before {
    content: "\32";
}
.freshad .icon-volume-high:before {
    content: "\33";
}
.freshad .icon-close:before {
    content: "\34";
}
.freshad .icon-facebook:before {
    content: "\35";
}
.freshad .icon-facebook-2:before {
    content: "\36";
}
.freshad .icon-twitter:before {
    content: "\37";
}
.freshad .icon-twitter-2:before {
    content: "\38";
}
.freshad .icon-stop:before {
    content: "\61";
}
.freshad .icon-pause:before {
    content: "\62";
}
.freshad .icon-play:before {
    content: "\63"
}
.freshad .icon-expand:before {
    content: "\64";
}
.freshad .icon-contract:before {
    content: "\65";
}
.freshad .icon-expand-2:before {
    content: "\66";
}
.freshad .icon-contract-2:before {
    content: "\67";
}
.freshad .icon-play-2:before {
    content: "\68";
}
.freshad .icon-youtube:before {
    content: "\69";
}
.freshad .icon-youtube-2:before {
    content: "\6a";
}
