<div class="form-group">
	<label for="html-markup">HTML Markup</label>
	<textarea id="html-markup" style="width:100%" class="form-control" rows="10" data-bind="value:data,valueUpdate:'keyup'"></textarea>
</div>