
.analytics-area {
     text-align: center; /* centres inner content */
     overflow: hidden;  
     /* you can also add max-width and min-width data here if you wish */
}
#analytics {
	margin: 0px auto;
	width: 100%;
}
#analytics h1 {
	font-weight: bold;
	margin: 0;
	padding: 20px 0;
	text-transform: uppercase;
	text-align: center;
}
.divider{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	width: 90%;
	position: relative;
	float: left;
	margin: 1% 1%;

}
.date-selection {
	display: inline-block;
	width: 100%;
	margin-bottom: 60px;
}
.date-selection>*{
	float:left;
	margin: 5px 0 10px 0;
	text-align: center;
}

.date-selection .input-group {
	margin: 0 auto;
	width: 200px;
}

.date-selection .form-group>* {
	float:left;
	margin-right:10px;
}

.date-selection .form-group>label {
	margin-top:5px;
}

.date-selection .help-block {
	margin-top:9px;
}

.date-selection-input .form-control[readonly] {
	background-color: #fff;
}
.date-selection-input .input-group-addon {
	background-color: #fff;
	border-radius: 0px;
	cursor: pointer;
}
.date-selection-input .input-group-addon:hover {
	background-color: #eee;
}
#analytics .datepicker{}

#dayStats table{
	margin-bottom: 0px;
}

th.count{
	width:40%;
}


.canvas{
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.canvas-sml{
	float: left;
	width: 50%;
	margin: 10px 0;
	position: relative;
}
.canvas ul#topDwell {
	width: 843px;
	height:100%;
	left: 65px;
	list-style-type:none;
	position: absolute;
	padding-left: 0px;
	white-space: nowrap;

}

.canvas ul li {

	height:80%;
	display: inline-block;
	cursor: pointer;
	border-right:solid 1px rgba(255,255,255,0.7);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:0px;
	padding:0px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

}

.canvas ul li:last-child {
	border-right:0px;

}

.canvas-lg {
	height: 350px;
	width: 100%;
}
.canvas-sm {
	height: auto;
	width:  100%;
}
.canvas-content{
	padding: 0 20px 0 40px;
}
.canvas-content h2 {
	margin-bottom: 10px;
}

/* pie chart */
.indicators{
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	text-align: left;
	margin-bottom: 10px;
	width: 100%;

}

.indicators span{
	border: 2px solid #fff;
	color: #fff;
	float: left;
	margin-right: 10px;
	padding:5px;
	
}

.indicators>div{
	padding:5px;
	
}



.indicators .unigueImp span {
	background-color: #428bca;

}

.indicators .duration span{
	background-color: #A2Abca;
}


.indicators .imp span {
	background-color: #28BD99;
}
.indicating {
	font-size: 12px;
	position: absolute;
	right: 50px;
	top: -40px;
}
.indicating>div{
	clear:both;
	margin-bottom:5px;
}

.indicating .mDwell span {
	background-color: rgba(220,220,220,0.5);
	border: rgba(220,220,220,1);
	float: left;
	margin-right: 10px;
	height: 20px;
	width: 20px;
}
.indicating .aDwell span {
	background-color: rgba(151,187,205,0.5);
	border: rgba(151,187,205,1);
	float: left;
	margin-right: 10px;
	height: 20px;
	width: 20px;
}

/******************************************

* EVENT STUFF

*******************************************/

.header {
	margin: 0 0 0 10%;
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	width: 80%;
}
.header1 {
	float: left;
	text-align: center;
	width: 20%;
}
.header2 {
	float: left;
	text-align: center;
	width: 65%;
}
.header3 {
	float: left;
	text-align: center;
	width: 15%;
}

ul.event-list {
	display: inline-block;
	border: 1px solid #ccc;
	border-bottom: 0px;
	width: 90%;
	margin: 0 0 2% 4%;
	padding: 0;
}
ul.event-list li {
	border-bottom: 1px solid #ccc;
	float: left;
	height: auto;
	width: 100%;
	text-indent: 0;
	display: inline-block;
}
.col1{
	float: left;
	height: 40px;
	width: 20%;
	text-align: center;
}
.col2{
	float: left;
	height: 40px;
	width: 65%;
}
.col3{
	float: left;
	height: 40px;
	width: 15%;
	text-align: center;
}
.event-container{
	line-height: 40px;
	border-right: 1px solid #ccc;
}
.event-percent {
	padding: 5px;
	height: 40px;
	border-right: 1px solid #ccc;
}
.event-percent span {
	background-color: rgba(151,187,205,0.5);
	height: 30px;
	width: 50%;
	display: inline-block;
}
.event-count {
	line-height: 40px;
	text-align: center;
}


/* Back to top */

.backToTop {
	opacity: 0.5;
}
.backToTop:hover {
	opacity: 1;
}
.backToTop-container {
	float: right;
}
.backToTop i {
	font-size: 20px;
	text-shadow:1px 2px #fff;
}
