

.composer{
    position: absolute;
    background-color: #333;
    color: #f0f0f0;
    height:100%;
    width:100%;
    overflow:hidden;
}

#adboard{
    position:absolute;
    top:0px;
    left:0px;
    background-color: #333;
    height:100%;
    min-height:100%;
    width:100%;
    min-width:100%;
    overflow: scroll;

}



#adboard>*{
    position:absolute;
}

#preview {
    color:#000000;
    display:block;
    left: 50%;
    top: 140px;
    -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
            transform: translate(-50%,0);
    font-size: 14px;
    line-height: 1.2;
}

#more-ad-info {
    color: #fff;
}

.expand-ad-info {
    background-color: transparent !important;
    border: none;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    box-shadow: none;
    -webkit-box-shadow:none;
}



.top{ top:0px;}
.right{ right:0px;}
.bottom{ bottom:0px;}
.left{ left:0px; }
.center{
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.composer .list-group{
    margin-bottom:10px;
}


.composer .overlay{
    position:absolute;
    padding:20px;
    pointer-events:none;
}




.composer .overlay .dropdown-menu input.form-control{
    border:none;

}

.composer .overlay .dropdown-menu label{
    color:#666;
}

.composer .overlay .dropdown-menu{
    background-color:#222;
    color: #fff;
    z-index: 1700;
    min-width: 300px;
    padding:0px;
    border-color: #666;
}

.composer .overlay .btn-group{

    user-select: none;
}

.composer .overlay .btn-group>*{
    pointer-events:auto;
}

.composer .overlay .dropdown-menu a{
    background-color:#222;
    color: #fff;
    z-index: 1700;
    color: #fff;
}

.composer .overlay .dropdown-menu label{
 font-weight: 200;
}


.overlay .dropdown-menu .well{
    color:#333;
}

.overlay.top.left>*{
    pointer-events:auto;
}

.overlay.top.center>*{
    pointer-events:auto;
}

.overlay.top.left h2 {
    font-size: 1.5em;
    margin: 0px 0px 10px 0px;

}




.overlay.bottom.left>.btn-group>*{
    margin-right:20px;
}

.overlay.bottom.left .dropdown-toggle{
    background-color: transparent;
    box-shadow: none;
    border:none;
    padding:0px;
    font-size: 23px;
}


.overlay.bottom.left .btn-default{
    color:#D0D0d0   ;
}


.overlay.bottom.left .btn-default:hover,.btn-default:active,.btn-default:focus{
    color:#ffffff;
}



.overlay form{
    padding:10px;
}



.overlay.top.right{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.overlay.top.right .dropdown-menu{
    color:#333;
}



.overlay .btn-default, 
.overlay .list-group-item, 
#componentsDropdown .list-group-item{
    color:#f0f0f0;
    background-color: #222;
    border-color: #666;
}

.overlay .btn-default:hover, 
.overlay .list-group-item:hover, 
#componentsDropdown .list-group-item:hover{
    background-color: #666;
}

.btn-group.combo{
    background-color: #222;
    padding:0px;
    border: 1px solid #666;
}

.btn-group.combo div {
    float: left;
}

.btn-group.combo *{
    border:none !important;
    margin:0px; 
}


.btn-group.combo input[type=number]{
    width:50px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    max-height:31px;
    background: none;
    color:#f0f0f0;
    padding: 0px;
    text-align:center;
    display: block;

}


.composer .overlay.right .active i{
    color: #FFBB00;
}

.composer .overlay.right>.btn-group-vertical .btn{
    width:auto;
    float:left;
}

.composer .overlay.right>.btn-group-vertical>div{
    margin-bottom:50px;
}

.composer .overlay.right>.btn-group-vertical>.btn-group>*{
    margin-left: 5px;
}

.composer .overlay.right .btn-group-vertical>*{
    float:right;
    clear:both;
    position: relative;
    display:block;
    width:auto;
    margin-bottom: 5px;
}


.overlay.right .btn-default{
    background-color: #222;
    color: #fff;
    clear: both;
    border: 1px solid #666;
}

.overlay.right .btn-group.open .btn-default{
    border: 1px solid #adadad;
    border-bottom: 1px solid transparent;
    z-index: 2000 !important;
}




.composer .overlay.right .settings-dropdown-menu,
.composer .overlay.right .share-dropdown-menu {
    background-color: #222;
    border: 1px solid #adadad;
    color: #fff;
    margin-top: -1px !important;
    width: 388px;
}



  
.upload{
  position:relative;
  height:auto;
}

.upload>*{
    width: 100%;
}

.upload input[type=file]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height:100%;
}


/*
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
color: #333333;
background-color: #ebebeb;
border-color: #adadad;
}
*/

#componentsDropdown{
    position:absolute;
    z-index: 1000;
}


#componentsDropdown.show .dropdown-menu {
    display:block;
    padding:0px;
}








.list-group .dark{
   /* background-color: ;*/
}

.list-group-item.sm{
    padding:3px;
    font-size: 1em;
}



.bucket{
    width:auto;
    padding:0px;
    z-index: 2000;
    
}


.bucket p{
    padding:20px;
    text-align:center;

}


.bucket .upload .btn-primary{
    width: 100%
}



.bucket .badge{
    position:absolute;
    background-color: #006600;
    font-size: 1.2em;
    font-weight: normal;
    color:#ffffff;
    padding:5px;
    right:-30px;
    top:-20px;
    z-index:55;
}


/* BUCKET LISTS */

.bucket .list-group{
    border-color: #111111;
    margin: 0px;
    width:450px;
}

.bucket .scroll{
    overflow: scroll;
    max-height:300px;
}
.bucket .list-group .list-group-item{
   
    border-color: #404040;
    border-left:none;
    border-right:none;
    border-radius: 0px;
    font-size: 1em;
    line-height: 1;
    padding:0px 10px 0px 10px;
    overflow: auto;
    color: #999999;
    clear: both;
    width:100%;
}

.bucket .list-group .list-group-item>*{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bucket .list-group .list-group-item *{
    font-size: inherit;
}



.bucket .list-group-item>*{
    position: relative;
    display:inline-block;
    float:left;
    
}
.bucket .list-group-item .item-name{
    width: 300px;
    word-wrap: break-word;
}


.bucket .list-group-item .item-size{
    width:80px;
    padding-left: 5px;
    text-align: right;
}


.bucket .list-group-item .fa-forward{
    visibility:hidden;
}

.bucket .list-group-item.sequence .fa-forward{
    visibility: visible;
}

.bucket .list-group-item .close{
    display:inline-block;
    vertical-align: top;
    margin-left:5px;
    margin-right:10px;
    opacity:.3;
    font-size: 1.5em;
    margin-top: 0px;
    color: #DD0000;
    float:right;
}

.bucket .list-group-item button.toggleSequence{
    background: transparent;
    border: 0;
    padding:0;
    color: inherit;
    outline: none;
}
.bucket .list-group-item button.toggleSequence:hover{
    color: #428bca;
}

.bucket .list-group-item .close:hover{
    opacity: .8
}



/* BUCKET CURRENT FILE LIST */

.bucket .list-group .children-wrapper{
    margin:0px;
    padding:0;
    display:block;
}



.bucket .list-group .children-wrapper .list-group-item{
    margin-left:-10px;
}


.bucket .list-group.file-list .list-group-item{
    cursor:pointer;
}

.bucket .list-group.file-list .list-group-item:hover{
    color: #CCCCCC;
    background-color: #606060;
    border-color: #606060;

}

.bucket .list-group-item.active{
    color: #333;
    background-color: #DDA000;
    border-color: #DDA000;
}

.bucket .list-group.file-list .list-group-item.active:hover{
    color: #555;
    background-color: #FFBB00;
    border-color: #FFBB00;
}

.bucket .list-group.file-list .list-group-item.disabled{
    cursor:default;
}

.bucket .list-group.file-list .list-group-item.disabled:hover{
    color: #666666;
}

/* BUCKET QUEUE LIST */


.bucket .list-group.queue-list .list-group-item{
    color: #333333;
    background-color: #0A0A0A;
}

.bucket .list-group.running-list .list-group-item{
    background-color: #222222;
    color: #999999;

}

.bucket .progress-bar{
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color: #2A2A2A;
}

/*************************************
Component Editor Modal
*/


#componentEditor{
}

#componentEditor.modal{
    color:#333;

}

#componentEditor .asset-container {
    width:50%;
    float:left;
    position: relative;
}
#componentEditor .asset-container h3{
    margin-top: 0;
    text-align: center;
}
#componentEditor .asset-input-container{
    float: left;
    margin:10px 0; 
    width: 100%;
}

#componentEditor .fa-image{
    background-image: url( '../img/upload-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto 15px;
    width: 200px;
    height: 150px;
}
#componentEditor .fa-video{
    background-image: url( '../img/upload-video.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    width: 200px;
    height: 150px;
}

#componentEditor .fa {
    font-size: 1.3em;
}



#componentEditor .colorpicker i{
    width: 20px;
    height: 100%;
    display:inline-block;
    border:solid 1px #000000;
}



#componentEditor .content{
    max-width: 960px;
}

#componentEditor .previewSource {
    height: 150px;
    margin: 0;
    width: 200px;
}



#fontManager{
    padding:5px;
    width:350px;
}

#fontManager .well{
    overflow:hidden;
    max-height: 200px;
}


#fontManager .well input{
    border:none;
    background:none;
}


#fontManager input:focus{
    border:dashed 1px #aaa;
    outline: 0;
}



/**************************************

    MODAL STYLING

**************************************/

.panel, .modal-content{
border-radius: 0px;
}




.btn{
    border-radius:0px;
}
.fa-modal{
    float:left;
    text-align: center;
    vertical-align: middle;
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    background-color: rgba(51,51,51,.8);
    overflow:auto;
    padding-bottom: 50px;
    padding-top: 10px;
    min-height: 100%;
}
.fa-modal-panel{
    display:block;
    position: absolute;
    top: 10%; left: 50%;
    -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
}
.modal-backdrop.in{
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.fa-modal .modal-header h3{
    margin: 0;
    line-height: 30px;
}
.fa-modal .modal-footer{
    background-color: #EfEfEf;
    padding: 10px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.modal-footer button{
    cursor: pointer;
    float: right;
}
.modal-footer button.btn-remove{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 20px;
}
.fa-crud{
    margin: 10px 0px 10px 0px;
}

.fa-details{
    padding:10px 0px 10px 0px;
}

.fa-details .well-sm{
    padding:10px;
    margin-bottom: 5px;
}

.fa-document h1{
    display:inline-block;
}

#client .jumbotron input{
    font-size: 63px;
    line-height: 63px;
    font-weight:500;
    border:none;
    color:#333;
    background:none;
}


#client .jumbotron input:focus{
    border:dashed 1px #aaa;
    outline: 0;
}

#client .jumbotron{
    margin-top: 20px;
}


.colorpicker {
    z-index: 2000;
}

.wysiwyg-container {
    background-color: #eeeeee;
}
.wysiwyg-container .btn-toolbar .btn-info {
    color: #ffffff;
    background: #428bca;
    border-color: #269abc;
}
.wysiwyg-container .btn-toolbar .btn-info:hover, 
.wysiwyg-container .btn-toolbar .btn-info:focus, 
.wysiwyg-container .btn-toolbar .btn-info:active, 
.wysiwyg-container .btn-toolbar .btn-info.active{
    background-color: #428bca;
    border-color: #269abc;
}
.wysiwyg-container .btn-toolbar .btn-group .colorpicker {
    min-width: 30px;
    max-width: 70px;
    margin-right: 3px;
    height: 28px;
    margin: 3px;
}

#editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; 
    border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;text-align: left;
}
div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dropdown-menu a {
    cursor: pointer;
}
.tooltip-inner {
    background-color: #eeeeee;
    color: #000;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #eeeeee;
}

/* Toggle wysiwyg background color */

.toggleBackground {
    bottom: -5px;
    right: 16px;
    height: 22px;
    width: 73px;
    position: absolute;
    opacity: 1;
}
.bg-color-choice {
    border: 1px solid #ededed;
    float: left;
    height: 20px;
    margin-left: 3px;
    width: 20px;
}
.bg-col-indicator {}
.bg-grey {
    background-color: #ccc;
}
.bg-black {
    background-color: #000;
}
.bg-white {
    background-color: #fff;
    border-color: #428bca;
}

