/* 
    General App Styles
*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #F8F8F8;
  line-height: normal;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center bottom, 0, center bottom, 460, from(#f8f8f8), to(#ddd));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #f8f8f8, #ddd);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #f8f8f8, #eee);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #f8f8f8, #eee);
  width: 100%;
  height: 100%;
}

body {
  /* fallback */
  background-color: inherit;

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}



#messages{
    position:absolute;
    width: 500px;
    top:0px;
    left:0px;
    z-index: 5000;
    left: 50%;
    margin-left:-250px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;

}

.alert{
    margin-bottom: 0px;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-control{
    border-radius: 0px;
}


.dropdown-menu{
    z-index: 2000; /*needs to work in modal overlays */
}

.disabled{
    cursor:default;
    opacity:0.3;
    pointer-events:none;
}



.list-group-item:last-child{
    border-radius: 0px;

}

.list-group-item:first-child{
    border-radius: 0px

}

.panel{
    border-radius: 0px;
}

.modal-content{
    border-radius: 0px;
}



.modal-footer button.button-left{
    float: left;
}

.dropdown-menu{
    border-radius:0px;
}

.btn{
    border-radius:0px;
}


.justified{
    display: table;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;

}

.justified>*{
    display: table-cell;
    float: none;
    padding:0px;
    margin:0px;
    vertical-align: top;
}


#appView {
    min-height: 100%;
    /*margin-left:auto;
    margin-right:auto;*/
}

.app-container {
    padding: 20px 10px;
}    



.smart-search .dropdown{
    text-align: left;
}
.site-header {
    display: table;
    overflow: visible;
    padding: 30px 10px 0 10px;
    position: relative;
    width: 100%;
}

.site-header .cell {
    display: table-cell;
    float: none;
    vertical-align: bottom;
}

.site-header h1 {
    margin-top:0px;
}

/*=====================================
    Header area
*/




/*=====================================
    View Main Content:; Item Lists and Tiles
*/

.back-to-area {
    padding: 0 20px;
}

.back-to-area h2{
    margin-top:0px;
}

.back-to {
    color: #999;
}

.back-to:hover {
    color: #28bdbd;
}

a.back-to{
    font-size: 20px;
    line-height: 20px;

}

.content {
    margin-top: 60px;
}

.create-filter {
    overflow: hidden;
    padding: 0 10px;
}

.create-filter .btn[data-direction="1"] i:before{
    content:"\25B2";
}

.create-filter .btn[data-direction="-1"] i:before{
    content:"\25BC";
}

.tile-list,
.table-list {
    margin-top: 30px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
}

/*=====================================
    Tile Layout
*/


.tile,
.tile.temp {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 0px 5px #ccc;
    color: #424242;
    cursor: pointer;
    display: inline-block;
    line-height: 220px;
    margin: 0px 20px 40px;
    position: relative;
    text-align: center;
    width: 200px;
    height: 220px;
}

.tile small,
.tile.temp small {
    font-size: 82%;
}


.tile button {
    z-index: 50;
}

.tile.temp  {
    line-height: normal;
} 

.tile.temp {
    cursor: default;
}    

.tile:hover {
    background-color: #28bdbd;
    color: #fff;
}

.tile-description {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}



.tile:hover .btn {
    color: #fff;
}

.tile .btn,
.table-list .btn {
    background-color: transparent;
    border: 0;
    color: #424242;
    font-size: 1.8em;
    position: absolute;
    
}

.tile .btn-settings:hover,
.tile .btn-delete:hover,
.tile .btn-analytics:hover,
.tile .btn-duplicate:hover,
.table-list .btn-settings:hover,
.table-list .btn-delete:hover {
    font-size: 2.2em;
}   

.table-list .btn-settings,
.table-list .btn-delete {
    padding: 8px 4px;
}

.table-list .btn-settings:hover,
.table-list .btn-delete:hover {
    padding: 0;
} 

.tile .btn-settings,
.tile .btn-analytics {
    right: 0;
}


.tile .btn-delete,
.tile .btn-duplicate
 {
    left: 0;
}

.tile .btn-delete,
.tile .btn-settings {
    top: 0;
}

.tile .btn-analytics,
.tile .btn-duplicate
 {
    bottom: 0;
}

.tile:last-child{
    border-radius: 0px;
}

.tile:first-child{
    border-radius: 0px;
}

.tile h1 {
    font-size: 1.2em;
    word-wrap: normal;
    width: 146px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0px;
}

/* TEMPLATE LIST */

.template-title {  /* top info */
    display: block;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
    width: 100%;
}
.tile .template-title h1 {
    font-size: 1.2em;
    margin-left: 35px;
    margin-top: 0px;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.template-info { /* bottom info */
    bottom: 40px;
    position: absolute;
    width: 100%;
}



/* template dimension symbol */
.template-device-area {
    height: 80px;
    left: 70px;
    position: absolute;
    top: 60px;
    width: 60px;
}

.device-border {
    background-color: #fff;
    border: 6px solid #000;
    border-radius: 3px;
    margin: 0 auto;
    padding: 3px;
    position: relative;
    width: 60px;
    height: 100%;
}

.device-border span {
    background-color: #28bdbd;
    display: block;
    height: 30%;
    width: 50%;
}

/* CREATE NEW AD MODAL */

.template-select {
    height: 180px;
    margin: 0 0 20px;
    overflow-x: auto;
}

.template-tiles {
    margin: 0;
    padding: 5px 0;
    white-space: nowrap;
    width: auto;  
}

.template-tiles .tile {
    line-height: normal;
    margin: 0px 8px;
    width: 160px;
    height: 150px;
}

.template-tiles .template-device-area {
    left: 50px;
    top: 35px;
}

.template-tiles .template-info { /* bottom info */
    bottom: 15px;
}    
.select-date .input-group-addon {
    background-color: #fff;
    border-radius: 0px;
    cursor: pointer;
}

.select-date .input-group-addon:hover {
    background-color: #eee;
}

/*=====================================
    Table Layout
*/

.table-list .btn {
    font-size: 1.6em;
    position: static;
} 

.table-list table.table thead {
    background-color: #424242;
    border-right: 1px solid #424242;
    border-left: 1px solid #424242;
    color: #fff;
}

.table-list table.table thead th a {
    color: #fff;
    cursor: pointer;
}    

.table-list table.table tr td {
    vertical-align: middle;
    text-align: left;
}

.table-list table.table tbody {
    background-color: #fff;
}

.table-list table.table .actions {
    text-align: center;
}   



/*=====================================
    Grid
*/


.full-width {
    width: 100%;
}

.col-1-12,
.col-2-12,
.col-3-12,
.col-4-12,
.col-5-12,
.col-6-12,
.col-7-12,
.col-8-12,
.col-9-12,
.col-10-12,
.col-11-12 {
    float: left;
    padding: 0 10px;
    position: relative;
}

.col-1-12 {
    width: 8.33%;
}

.col-2-12 {
    width: 16.66%;
}

.col-3-12 {
    width: 24.8%;
}

.col-4-12 {   
    width: 33.3%;
}

.col-5-12 {
    width: 41.5%;
}

.col-6-12 {
    width: 50%;
}

.col-7-12 {
    width: 58.1%;
}

.col-8-12 {
    width: 66.6%;
}

.col-9-12 {
    width: 74.1%;
}

.col-10-12 {
    margin: 20px 8.33% 0;
    padding-top: 10px;
    width: 83.3%;
}

.col-11-12 {
    width: 91.3%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}



/*=====================================
    Login style
*/

.login .logo {
    margin: 50px 0;
    width: 100%;
}

.logo img {
    max-width: 100%;
} 

.login form {
    margin-bottom: 5px;
    position: relative;
}

.login input.login-button {
    bottom: 0;
    right: -80px;
    position: absolute;
}

.login p,
.login small {
    float: left;
}


/*=====================================
    Social Media Components
*/
.icon-facebook {
    margin: 5px;
    float: left;
}
.icon-twitter-2, .icon-facebook {
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    filter: dropshadow(color=rgba(0,0,0,0.5), offx=0, offy=0);
    float: left;
    margin: 5px;
}


.btn-toolbar.text-editor *{
    font-size: 0.9em;
}


/*=====================================
    Support and logout
*/
.support{
    position: fixed;
    padding: 20px;
    bottom: 0px;
    right: 0px;
}
.support .btn-group .dropdown-menu {
    left: -490px;
    top: -100px;
    padding: 0;
}
.support a {
    color: #D0D0d0;
    background-color: transparent;
    cursor: pointer;
}
.support button, .support button:active, .support button:visited {
    color: #D0D0d0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    margin-right: 20px;
    padding: 0px;
    font-size: 23px;
}
.support a.logout {
    border-color: transparent;
    padding: inherit;
    margin: 5px 20px 5px 0;
    padding: 0;
}
.support a.logout i{
    font-size: 23px;
}
.support a:hover, .support button:hover {
    color: #fff;
    background-color: transparent;
}
.help-expanded{
    background-color: #222;
    border:1px solid #ccc;
    color: #fff;
    /*position: absolute;*/
    /*height: 500px;*/
    overflow: scroll;
    width: 500px;
    padding: 20px;
}
.help-top{
    width: 100%;
    position: relative;
}
.help-top h2{
    margin-top: 0;
    margin-bottom: 5px;
}
.close-help{
    color: #D0D0d0;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
}
.close-help:hover{
    color: #fff;
}
.help-list{
    width: 100%;
}
.help-list ul {
    list-style-type: none;
    padding-left:0; 
}
.help-list ul li {
    /*border-top: 1px solid #ccc;
    border-bottom: 1px solid #ededed;*/
    color: #D0D0d0;
    line-height: 25px;
    cursor: pointer;
}
.help-list ul li:hover {
    color: #fff;
}
.help-section{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ededed;
    min-height: 50px;
    width: 100%;
}
.toTop-cont{
    font-size: 35px;
    font-weight: bold;
    
    height: 25px;
    width: 100%;
}
.toTop-cont span {
    color: #D0D0d0;
    float: right;
    margin-top: -20px;
    text-align: center;
    cursor: pointer;
}
.toTop-cont span:hover{
    color: #fff;
}
.toTop-cont span i {
    height: 25px;
    line-height: 25px;
    width: 25px;
}

/* TOP LEVEL NAV */ 

.top-nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
.top-nav ul {
    list-style-type: none;
    height: 43px;
    margin: 5px;
    width: 45px;
    overflow: hidden;
    padding: 0;
}
.top-nav ul:hover {
    height: 253px;
}

.top-nav ul li {
    box-shadow: 0px 0px 5px #ccc;
    display: block;
    margin: 5px;
    width: 35px;
    height: 35px;
}
.top-nav ul li a{
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 0px 5px #ccc;
    color: #424242;
    cursor: pointer;
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
}
.top-nav ul li a i {
    background-color: transparent;
    line-height: 35px;  
}
.top-nav ul li a:hover{
     background-color: #28bdbd;
    color: #fff;
}