.freshad .video-container{
    position: relative;
    margin: 0px;
    padding:0px;
    border: 0px solid transparent;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
 
}

.freshad .video-container video{
    position: absolute;
    top:0px;
    width:100%;
    max-height:101%;
    margin:0px;
    padding:0px;
    border: 0px solid;
    background-color: none;

}

.freshad .video-container.error .video{
    display:none;  
}

.freshad .video-container .error{
        display: none;
        background-color: rgba( 0,0,0,0.5 );
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 200;
    }


.freshad .video-container .error p{
    color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    width: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.freshad .video-container.error .error{
    display: block;
}

.freshad .video-container .poster{
    display:block;
    position:relative;
    width:100%;
    height:auto;
    top:0px;
}



.freshad .video-container .hud{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
}

.freshad .video-container.playing .poster{
    display:none;
}

.freshad .video-container.paused .poster{
    display:none;
}

.freshad .video-container.error .poster{
    display:block;  
}

.freshad .video-container .controls{
    display:none;
    position:absolute;
    background-color: #22BDC0;
    bottom: -1px;
    left:0px;
    width: 100%;
    padding: 8px;
}

.freshad .video-container .controls .btn-play-pause{
    width:30px;
    height:30px;
    top:0px;
}

.freshad .video-container .controls .icon-pause{
    display:none;
}


.freshad .video-container.playing .controls .icon-play{
    display:none;
}

.freshad .video-container.playing .controls .icon-pause{
    display:inline-block;
}

.freshad .video-container.playing .controls .icon-play{
    display:none;
}

.freshad .video-container.playing .controls{
    display:block;
}

.freshad .video-container.paused .controls{
    display:block;
}

.freshad .video-container .controls button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    /*width: 12%;*/
    font-size: 2em;
    /*font-size: 30px;*/
    line-height:0em;
    text-align: center;
}

.freshad .video-container .controls button i {
    margin:0px;
}

.freshad .video-container .controls .btn-play-pause {
    float: left;
}

.freshad .video-container .controls .btn-fullscreen{
    margin-top: 2px;
    float: right;
}

.freshad .video-container .superPlay{
    font-size: 4em;
    opacity:1;
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.2);
    top:0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}




.freshad .video-container .superPlay span{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.freshad .video-container .superPlay span i {
    color: #fff;
    font-size: 0.6em;
    float: left;
    top: 50%;
    left: 50%;
    position: absolute;
    margin:0px;
    padding:0px;
    -webkit-transform: translate(-46%, -50%);
    -ms-transform: translate(-46%, 50%);
    transform: translate(-46%, -50%);
}


.freshad .video-container.playing .superPlay,
.freshad .video-container.error .superPlay
{
    opacity:0;  
}

.freshad .video-container.paused .superPlay{
    opacity:1;  
}

.freshad .video-container.paused.seeking .superPlay{
    opacity:0;  
}



.freshad .video-container .controls .seek-bar-container{
        background-color: #fff;
        width: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.freshad .video-container .controls .seek-bar{
        position: relative;
        background-color: transparent;
        height: 100%;
        width: 100%;
        cursor: pointer;
       /*-webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0);
        box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0);*/
    }
    
.freshad .video-container .controls .seek-handle{
        position: relative;
        background-color: #ccc;
        left: 0%;
        height: 10px;
        width: 10px;
    }
    
/* ----------- SIZES -------------------- */


    /* MICRO PLAYER */
.freshad .video-container.micro .superPlay span {
        height: 32px;
        width: 32px;
    }

.freshad .video-container.micro .superPlay span i{
        font-size: 0.3em;
    }

.freshad .video-container.micro .controls .btn-play-pause{
        display: none;
    }

.freshad .video-container.micro .controls{
        display:none;
}

.freshad .video-container.micro .superPlay span i{
        font-size: 0.3em;
    }

    /* SMALL PLAYER */
.freshad .video-container.small .controls .seek-bar {
        width: 70%;
    }

.freshad .video-container.small .controls {
        padding: 3px;
    }

.freshad .video-container.small .controls button {
        font-size: 1em;
    }

.freshad .video-container.small .controls .btn-fullscreen {
        margin-top:5px;
    }

    /* MEDIUM PLAYER */

.freshad .video-container.medium .controls {
        padding: 3px;
    }

.freshad .video-container.medium .controls .seek-bar {
        width: 70%;
    }
    
.freshad .video-container.medium .controls button {
        font-size: 1.2em;
    }

.freshad .video-container.medium .controls .btn-fullscreen {
    margin-top:4px;
}
  
    /* LARGE PLAYER */


.freshad .video-container.large .controls .seek-bar {
        width: 70%;
    }

.freshad .video-container.large .controls button {
        font-size: 1.5em;
    }
